.error { display: block; text-align: left; color: #fff; padding: 3px; background: url(cseo_css_img.php?c1=E10C0Cff&c2=910C0Cff&h=120) center left repeat-x; margin-bottom: 3px; border: 1px solid #E10C0C }

.votingh1 {
background: url("cseo_css_img.php?w=1&h=60&c1=fefefeff&c2=e1e1e1ff") repeat-x scroll left center #E1E1E1;
height: 1.6em;
line-height: 1.6em;
border-top: 1px solid #cccccc;
border-left: 1px solid #cccccc;
border-right: 1px solid #cccccc;
padding: 0 5px;
margin: 0;
}

.votingbox {
width: 150px;
height: 220px;
padding: 0;
margin: 10px;
overflow: hidden;
text-align: center;
float: left;
background: url("cseo_css_img.php?w=1&h=250&c1=fefefeff&c2=e1e1e1ff") repeat-x scroll left center #E1E1E1;
} 

.voting {position: relative; top: 0; font-size: 1.4em; font-weight: 900; left: 0;}
.votinboxstarbox {background: #fff; width: 130px; position: relative; top: 0; left: 5px; height: 65px; padding: 5px;}
.starbox {background: #fff; width: 170px; position: relative; top: 0; left: 5px; height: 25px; padding: 5px;}

.votingtext {font-size: 1.0em; font-weight: 600;}
.votingstars {line-height: 1.0em;}
.votingstarsrev {line-height: 1.0em;padding: 10px;}


.b1 {border: 1px solid #cccccc;}
.h240 {height: 240px;}

.shopvotebox {
    width: 380px;
    height: 214px;
    padding: 0;
    overflow:  hidden;
    float: left;
    font-size: 1.0em;
	margin: 10px;
}  

.votetopic {font-size: 1.2em; color: #990000; font-weight: 700;}

.viewbox {
padding: 0;
background: url("cseo_css_img.php?w=1&h=60&c1=fefefeff&c2=e1e1e1ff") repeat-x scroll left center #E1E1E1;
overflow: hidden;
list-style-type: none;
width: 100%;
}


.viewbox li {width: 25%; float: left; overflow: hidden; text-align: center; font-weight: bold; margin: 0; padding: 0; list-style-type: none;}

.positive a {color: #1a8a00; display: block;}
.negative a {color: #8a0000; display: block;}
.neutrale a {color: #d8b200; display: block;}
.alle a {color: #000000; display: block;}

.bactive {background: #fefefe; border: 1px solid #cccccc; padding: 2px 0 2px 0; margin:0;}
.bnonactive {border: 1px solid #e8e8e8; padding: 2px 0 2px 0; margin: 0;}


.votebutton {
    margin: 10px 0; float:right;
}

.votehead {
padding: 4px;
margin: 0;
background: url("cseo_css_img.php?w=1&h=60&c1=fefefeff&c2=e1e1e1ff") repeat-x scroll left center #E1E1E1;
font-weight: 700;
color: #333333;   
border: 1px solid #cccccc;
border-bottom: 0;
}


.votebox {
padding: 5px;
width: 98%;
overflow: hidden;
border: 1px solid #cccccc;
margin: 0 0 10px 0;
}

.votestar {
width: 25%;
float: left;
overflow: hidden;
}

.votingcontent {
width: 70%;
overflow: hidden;
padding: 0 0 0 10px;
float: left;
color: #333;
}


.admincomment {
width: 90%;
overflow: hidden;
border: 1px solid #999999;
background: #f1f1f1;
padding: 4px;
margin: 8px 0 0 0;
color: #333333;
}


TEXTAREA { width: 98%;}
input { padding: 2px; border: 1px solid #cccccc;}
label {width: 230px; float: left;}

.rquired {color: #ff0000; }


.textdurchschnitt {font-weight: 900; font-size: 1.2em;}