html, body, div, span, applet, object, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, big, cite, code,del, dfn, font, img, ins, kbd, q, s, samp, small, strike, strong, tt, var,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
}

strong {font-weight:800}

*:focus {outline: 0;}

small {font-size: 85%}
.fs85 {font-size: 85%}
.fwb {font-weight: 700}
.dn {display:none}


table {border-collapse: separate; border-spacing: 0; width: 100%; border: 0;}
table tbody tr td {
  transition: background-color 0.25s 0 linear;
}
.dataTable tr:hover td {
  background-color: #a9b4c1;
}


body {
font-size:12px;
line-height:1.5;
color: #000000;
font-family: Tahoma, Helvetica, sans-serif; 
}

.fl {float: left;}
.fr {float: right;}


.clear {
clear: both;
display: block;
overflow: hidden;
visibility: hidden;
width: 0;
height: 0;
}

h1 {font-size: 1.4em; font-weight: 900; margin: 5px 0;}
h2 {font-size: 1.2em; font-weight: 700; margin: 5px 0;}


a:link,a:visited,a:active { text-decoration: none; color: #820e0e }

a.top_link  { text-decoration: none; color: #fff }
.top_link {margin: 0; padding: 3px; background:#474747; font-weight: 900;}
a.top_link:hover { text-decoration:none; background:#8c0000; color: #fff;}
a.top_link_active {font-weight:bold;background: #8c0000; color:#fff;}

.hinweis {color: #8c0000; font-weight:700;}

a:hover { text-decoration: underline;}

select {border:1px solid #494949; color:#2f2f2f; }

select:focus {background: #FCF5DD}

h3 {border-bottom: 1px solid #ccc; font-size: 120%; color: #000; font-weight: 700;}

.menuBoxHeading { background-color: #f1f1f1; }

.menuBoxContent { color: #616060; }

.longDescription { visibility: hidden; display: none; }

.headerBarContent { font-weight: bold; padding: 2px;}

.boxCenter {padding-left:5px; }

.pageHeading {font-weight: 700;	padding-bottom:0.25em; color:#8c0000; font-size:1.0em;	line-height:1.2em;}

.table_pageHeading {border-bottom:4px solid #DFDFDF;margin: 3px 5px 18px 3px;}

.dataTable {border: 1px solid #CBD3D4; border-right: 0 none; border-bottom: 0 none }
.dataTableStart {border: 1px solid #CBD3D4; border-right: 0 none; border-bottom: 0 none }

.dataTable td {border-color:#DADFE0;border-style:solid;border-width:0 1px 1px 0;padding: 2px 4px;vertical-align: top;font-size:1.0em;}
.dataTableStart td {border-color:#DADFE0;border-style:solid;border-width:0 1px 1px 0;padding: 2px 4px;vertical-align: top;font-size:1.0em;}

.outerTable {width: 100%;}

.top_table {margin:0; width:100%;}


.last {	border-right:0 none;}

.dataTableHeadingRow, .boxTableHead {
background: #e1e1e1;
background: linear-gradient(#fefefe, #e1e1e1) repeat scroll 0 0 transparent;
border: 1px solid #e1e1e1;
height: 30px;
}

.dataTableHeadingRow td, .dataTableHeadingRow th {border-color:#f9f9f9 #d1cfcf #dadfe0 #f9f9f9;border-style:solid;border-width:1px;padding-bottom:0;padding:2px 4px;}

.no_border {border: 0 none}

.dataTableContentSelected {}

.dataTableHeadingContent { font-weight: bold;}

.dataTableRow {vertical-align: middle; background: #f6f6f6 }
.dataWhite {vertical-align: middle; background: #ffffff }

tr.dataTableRowSelected, .dataTableRowSelected {background: #fcf5dd; vertical-align: middle;}

tr.dataTableRowOver {background: #fcf5dd;}

table.subTable {
width: 100%; 
margin: 0 0 10px 0; 
background-color: #fff;
border: 1px solid #333;
box-shadow: 1px 1px 1px #ccc;
}

th.subTable_head { 
font-weight: 700;
height: 30px;
text-align: left;
background-color: #F0F9FF;
color: #333;

font-family: Tahoma, sans-serif;
}

img.categories_img {max-width: 200px; width:expression(document.body.clientWidth > 200? "200px": "auto")}

.left {float:left; width:48.5%}

.right {float:right; width:48.5%}

ul {margin-left:15px}

.dataTableContent { vertical-align: middle; border-bottom: 1px dashed #cccccc;}

.orders_view_data { vertical-align: middle; text-align: center;border-bottom: 1px dashed #cccccc;}

.dataTableContent_products, .bildernamen {background:#F0F9FF; color:#000;margin-bottom:0;padding: 3px 0px 3px 10px; font-weight: 700}

.dataTableContent_products a {color:#fff}

.dataTableContentRow {vertical-align: middle;border-bottom: 1px solid #cccccc;}

.vorschau_gradient {border:1px solid #000; width:30px; height:30px; display:block;}

.success_msg {color: #20b000; font-weight:bold;}
.error_msg {color: #8F0000; font-weight:bold; text-decoration: blink;}

.bb td {border-bottom: 1px dotted #ccc; height: 25px;}
.bt td {border-bottom: 1px dotted #ccc}

.cursor {cursor: pointer;}

/* info box */
.infoBoxHeading {font-weight: bold; padding: 5px; background: #f1f1f1; color:#000}

input.button, button.button, a.button {
display: inline-block;
position: relative;
margin-bottom: 0;
line-height: normal;
text-align: center;
vertical-align: middle;
background: #484848;
background: -webkit-linear-gradient(top,  #484848 0%,#484848 50%,#1a1a1a 50%,#1a1a1a 100%); 
background: linear-gradient(to bottom,  #484848 0%,#484848 50%,#1a1a1a 50%,#1a1a1a 100%); 
color: #e0e0e0;
font-size: 13px;
border: 1px solid #8C8C8C;
border-bottom:0;
cursor: pointer;
overflow: visible;
text-decoration: none;
border-radius: 3px;
}

input.button {
padding: 8px 15px 9px;
}
button.button, a.button {
padding: 7px 15px 10px;
}

.button:hover {
background: #999999;
background: -webkit-linear-gradient(top,  #999999 0%,#999999 50%,#4c4c4c 50%,#4c4c4c 100%); 
background: linear-gradient(to bottom,  #999999 0%,#999999 50%,#4c4c4c 50%,#4c4c4c 100%); 
color: #fff; 
}

.rss_item {margin: 10px; background: #FCF5DD; padding: 10px; text-align: left}

.rss_item h2 {font-weight: 700}

.rss_item_date {display: block; text-align: right; font-size: 85%; color: #666; margin: 5px 0}

#wrapper {background: #fff; width: 99%; margin: 20px auto; height: 100%}

#footer {background: url(../images/footer_bg.gif) top left repeat-x;}

#header {background: #FFF url(../images/head_bg.jpg) top left repeat-x;}

.header_links, .header_links a {color:#4a4a4a; font-weight: bold}

div.stock_warn {background: #F9F0F1;}

.boxTableContent {background: #ffffff;border: 1px solid #ccc;border-top: 0 none;}

.boxTableFull {background: #F8F8F8;border: 1px solid #ccc;}

.url_alias {display:block;color:#666;font-size:85%}

.order_comment {padding: 3px 0 3px 5px; border-left: 4px solid #777; margin-left: 10px; font-size: 90%; color: #757575 }

.border {padding-left: 5px}

.divScroller {position: relative; margin-top: 0px;}
.scroll_fixed {position:fixed; top: 0; width:20%; clear: both;}

/* message box */

.messageStackError, .messageStackWarning, #security_check, .myerrorlog  { 
border: 1px solid #EBA19E;
border-radius: 2px;
font-size: 1.2em;
margin-bottom: 1.5em;
padding: 8px 35px 8px 14px;
background-color: #F4CAC8;
color: #832f2c;
}

.mysuccesslog, .messageStackSuccess {
border: 1px solid #A2D6A2;
border-radius: 2px;
font-size: 1.2em;
margin-bottom: 1.5em;
padding: 8px 35px 8px 14px;   
background-color: #C5E6C5;
color: #376e37;
}


.messageStackError img, .messageStackWarning img, .messageStackSuccess img {position:relative; top:4px;}

/* forms */
input, select, textarea { font-size: 11px; }
form { display: inline; }

/* account */
.formArea { background-color: #fafafa; border-color: #cccccc; border-style: solid; border-width: 1px; }
.formAreaTitle { font-weight: bold; }

/* attributes */
.attributes-odd { background-color: #f6f6f6; }
.attributes-odd td { border-bottom: 1px solid #ccc }
.attributes-even td { border-bottom: 1px solid #ccc }

/* miscellaneous */
.specialPrice { color: #ff0000; }
.oldPrice { text-decoration: line-through; }
.fieldRequired { color: #ff0000; }
.main { font-size: 12px; border-bottom: 1px dashed #ccc; padding:5px }
.errorText { color: #ff0000; }

/* blog */
.uni_header {color:#000;}
.uni_header_setting {font-weight: 700}
.uni_content {}
.uni_bg {background:#dddddd;}
.uni_bg2 {background:#eeeeee;}
.uni_button {font-weight: bold;border:1px solid #333333; background:#eeeeee;font-size:10px;}
.uni_settings {padding-left:5px;padding-right:5px;border-bottom: 1px solid #dddddd; border-right: 1px solid #dddddd;font-size:10px;}
.uni_items {padding-left:3px;padding-right:3px;border: 1px solid #cccccc;font-size:10px;}
.uni_border {border-bottom: 1px dashed #ccc}


.phpinfodisplay
{
  margin: 0px 0px 0px 0px;
  width: 500px;
  text-align: center;
}


.tableMain {
clear:left;
width:100%;
margin-bottom:5px;
padding: 2px 0px 2px 5px; 
background: #e1e1e1;
background: -webkit-linear-gradient(#fefefe, #e1e1e1) repeat scroll 0 0 transparent;
background: linear-gradient(#fefefe, #e1e1e1) repeat scroll 0 0 transparent;
color:#333; 
font-weight:700; 
}

.td {float:left;width:30%;}
.tdSmall {float:left;width:20%;}
.tdWide {clear:both; float:none; padding: 2px;}
.titlePrice {float:left;margin-right: 5px;}
.innerInnerHTML {float:left;width:31%;}
.fieldsetInnert {clear:both; margin-top: 10px;}
.productsNewStaffelLeft {float:left;width:37%;}
.productsNewStaffelRight {float:left;width:19%;}
.innerHTML {width:100%;padding-top:2px;padding-bottom:2px;}
.innerInnerHTML {float:left;width:31%;}
.innerInnerHTMLRight {float:left;width:37%;}
.innerInnerHTMLRightRight {float:left;width:20.5%;* width:19%;}
.yellowBG .td{background: #FCF5DD;}

ul.ul_reset {margin:0; padding:0; float:left; clear:both; display:block;width:100%;}
ul.ul_reset li {list-style:none;}

ul.categorie_list {border: 1px solid #CBD3D4; border-bottom: 0 none}

li.categorie_list_header ul {
background: #eeeeee;
background: -webkit-linear-gradient(#ffffff, #eeeeee) repeat scroll 0 0 transparent;
background: linear-gradient(#ffffff, #eeeeee) repeat scroll 0 0 transparent;
}
li.categorie_list_header ul li {border-color:#DADFE0;border-style:solid;border-width:0 1px 0 0;padding: 3px 0;font-weight:700;font-size:0.9em;list-style:none; float:left;display:inline-block; height:30px;}
li.categorie_list_header ul li span {display:block; margin: 0 2px;}
li.categorie_list_header ul li.last {border-right: 0 none;}
li.categorie_list_item {width:100%; float:left; clear:both;}
li.categorie_list_item {border-color:#DADFE0;border-style:solid;border-width:0 1px 1px 0;}
li.categorie_list_item ul li {border-right: 1px solid #DADFE0;padding:3px 0;list-style:none; float:left; height: 35px; display:block;}
li.categorie_list_item ul li span {display:block; margin: 0 2px;}
li.categorie_list_item ul li.last {border-right: 0 none;}

.last {	border-right:0 none;}

.w5p {width:5%;}
.w6p {width:6%;}
.w7p {width:7%;}
.w8p {width:8%;}
.w10p {width:10%;}
.w30p {width:30%;}
.w32p {width:32%;}
.w68p {width:68%;}

.ac {text-align:center;}
.al {text-align:left;}
.ar {text-align:right;}

#container_left {float:left; width:79%;}
#container_right {float:right; width:20%;position:relative;}

.history_del_link {float:right;margin:0;}

.last_td {border-bottom: 0 none}

textarea, input[type="text"], input[type="password"], input[type="file"], input[type="reset"], select {background-color:#fff; border: 1px solid #999;}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="file"]:focus, input[type="reset"]:focus, select:focus {border: 1px solid #888; color: #333}
input[type="text"], input[type="password"], textarea , select { -moz-box-sizing:border-box; padding: 4px 2px; font-size: 102%}
select {padding: 2px}
textarea {width: 99%; font-size: 112%;}
input[type=text], textarea, select {font-family: Consolas,Monaco,Courier,monospace; color: #000000;}

/* Produkt Filter */
tr.filter_header th {
background: #eeeeee;
background: -webkit-linear-gradient(#ffffff, #eeeeee) repeat scroll 0 0 transparent;
background: linear-gradient(#ffffff, #eeeeee) repeat scroll 0 0 transparent;
color:#333; 
font-weight:700; 
text-shadow:0 0 1px #ccc;
}

.filter_bg {background-color:#eeeeee;}
.filter_bg2 {background-color:#ffffff;}
.filter_items {padding-left:3px;padding-right:3px;border: 1px solid #cccccc;}
table.bc {border: 1px solid #ccc}
.cat_titel{	padding:4px 5px;color:#333;cursor:pointer;border-top: 1px solid #fff;border-bottom: 1px solid #dddddd}
.cat_titel {display: block}
.cat_edit {float:left; width:40px; margin-top:5px;}
.cat_items {display:block; cursor: pointer; margin: 4px 0 4px 10px;}
.cat_items a {display:block; cursor: pointer;}
.cat_active {color: #000; font-weight: 700}

table.aquise td {vertical-align: middle}
body div table.aquise td {vertical-align: top; text-align: left}
div table.table_hell td.line {border-left: 1px solid #666666;}
div table.table_dunkel td.line {border-left: 1px solid #ffffff}
table.aquise td span {cursor: pointer; ; float:left}
table.aquise td input {line-height: 12px; font-size: 10px; padding: 0; float:left}
table.aquise td select {margin: 3px; float:left}
table.aquise td input.sort {float: none;}
table.aquise td textarea {float:left}
.td_bg_dunkel {background: #e7e7e7}
.left {float:left}
a img {border:0}
a:focus {outline: none}
a.refresh {padding-left: 20px; background: url(images/refresh.gif) left center no-repeat;}
.td_head {font-size: 12px;font-weight: 700}
.customers_col {cursor:pointer;}
.customers_items {float: left;clear: both;width: 100%}
ul.customers {margin:0;padding:0;float:left;clear:both;width:100%}
ul.customers li {float:left;list-style:none;padding: 5px;min-height: 16px}
.nr 	{width:3%}
.id 	{width:5%}
.ico 	{width:2%}
.vname	{width:16%}
.nname 	{width:16%}
.mail 	{width:25%}
.tel 	{width:15%}
.memo 	{width:16}
.del 	{width:4%}
.dob {width: 10%}
.adresse {width: 20%}
.firma {width: 20%}
.sperren {width: 20%}
.infos {width: 20%}


.topNav {
background: #484848;
background: -webkit-linear-gradient(top,  #484848 0%,#484848 50%,#1a1a1a 50%,#1a1a1a 100%); 
background: linear-gradient(to bottom,  #484848 0%,#484848 50%,#1a1a1a 50%,#1a1a1a 100%); 
color: #e0e0e0;
display: block;
margin: 0;
padding: 0;
position: absolute;
width: 100%;
z-index: 999;
}

.topNavleft ul li, .topNavright ul li {
border-right: 1px solid #1a1a1a;
border-left: 1px solid #484848;
cursor: pointer;
}
.topNavleft ul li:first-child {
border-right: 1px solid #1a1a1a;
border-left: 0;
}
.topNavleft li a {
font-size: 12px;
font-weight: 500;
}

.topNavleft ul li a, .topNavright ul li a {
color: #C2C2C2;
display: block;
float: left;
font-size: 13px;
padding: 5px 10px 7px;
text-decoration: none;
text-shadow: 0 1px 2px #000000 !important;
}

.topNavleft ul li img {
display: block;
padding: 3px 0 0 0;
}
.topNavright img {
display: block;
float: right;
padding: 8px 5px 0 0;
}

.topNavleft ul li span{
display: block;
float: left;
}


.topNavleft ul li b {
display: block;
float: left;
}

.topNavleft {
float: left;
width: 89%;
padding-left: 5px;
}
.topNavright {
float: right;
width: 9%;
white-space:nowrap;
text-align: right;
}


#menu ul {margin:0; padding:0; list-style:none; white-space:nowrap; text-align:left;}

#menu li {display: inline-block; float:left; position: relative;}
#menu ul ul {position: absolute; left: -9999px; width: 160px;}

#menu ul ul{margin: 5px auto; box-shadow: 3px 3px 2px #666; min-width: 180px;}
#menu ul ul li {float:left; display:block; position:relative;}


#menu li li a {display:block; line-height:25px; text-decoration:none; padding:0 10px; background-color:#1a1a1a; width:160px; border-top: 1px solid #5b5b5b;}


#menu li li a:hover {
background: #5b5b5b;
color: #fff;
}

#menu ul li:hover > ul {visibility:visible; left:0; top:26px;}

#menu a:hover ul {left:0; top:23px;}



.menuspace {display:block; line-height:25px; text-decoration:none;padding:0 10px;background-color:#32841e;min-width:160px;}


.numberGreen {
background-color: #c5e6c5; 
border-radius: 8px;
color: #376e37;
font-size: 10px;
line-height: 12px;
margin: 6px 12px 6px -5px;
padding: 1px 5px;
text-align: center;
font-weight: 500;
border: 1px solid #376e37;
}
.numberRed {
background-color: #F4CAC8; 
border-radius: 8px;
color: #832f2c;
font-size: 10px;
line-height: 12px;
font-weight: 500;
margin: 6px 12px 6px -5px;
padding: 1px 5px;
text-align: center;
border: 1px solid #832f2c;
}

.topSubNav {
background: #fdfdfd;
color: #999999;
display: block;
margin: 0;
padding: 3px 0;
width: 100%;
font-size:11px;
position: absolute;
top: 30px;
left: 0;
}

.topSubNavleft {
float: left;
width: 20%;
padding-left: 5px;
text-align: left;
}
.topSubNavright {
float: right;
width: 75%;
padding-right: 5px;
text-align: right;
}

a.menu_link_aktiv {background: #5b5b5b !important; color: #fff !important;}

.title {
background: #eeeeee;
background: -webkit-linear-gradient(#ffffff, #eeeeee) repeat scroll 0 0 transparent;
background: linear-gradient(#ffffff, #eeeeee) repeat scroll 0 0 transparent;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
height: 36px; 
border-top: 1px solid #DADFE0; 
border-left: 1px solid #DADFE0; 
border-right: 1px solid #DADFE0; 
border-bottom: 0px solid transparent; 
font-size: 14px; 
font-weight: 700; 
margin: 3px 0 0 0; 
line-height: 16px;
vertical-align: top;
}
.titleimg {float:left; border-right: 1px solid #D5D5D5; margin: 2px 5px; width: 40px;}
.title b {float:left; margin-top: 7px;font-weight: 700; }

.w100p {width: 100%}
.inner {width: 100%; margin: 0 auto;}
.w50p {width: 50%}
.fl {float:left}
.fr {float:right}
.content {margin: 0 0 20px 0; padding: 0;}

a:focus {outline: none}
table.overview td a {text-decoration: underline}
table.overview td.td_bg_dunkel {background: #F9F0F1}
table.overview td.td_bg_hell {border-bottom: 1px solid #F9F0F1}


#parsetime {
clear: both;
}


#footpanel {
position: fixed;
bottom: 0; 
left: 0;
z-index: 9999;
border: 1px solid #cccccc;
border-bottom: none;
width: 98%;
margin: 0 1%;
background: #1a1a1a;
}

#footpanel ul {
padding: 0; 
margin: 0;
float: left;
width: 100%;
list-style: none;
}
#footpanel ul li{
padding: 0 5px;
margin: 0;
float: left;
position: relative;
}
#footpanel ul li img{
padding: 5px 0;
}

#footpanel li#searchpanel {
float: right; 
background-color: #c5e6c5;
}
#footpanel li#searchpanel input[type="text"] {padding: 2px; font-size: 90%; margin: 5px;}

.w200px{width: 200px}


.menuleft ul {margin:0; padding:0; white-space:nowrap; text-align:left;}

.menuleft li {display:block; background: #fff;}

.menuleft li a {display:block; line-height:25px; text-decoration:none; padding:0 10px; background-color:#2d363e; border-top: 1px solid #8c0000; color: #fff;}
.menuleftheading {display:block; line-height:25px; text-decoration:none; padding:0 10px; background-color:#32841E; color: #fff;}


.appcenterdiv {
width: 100%;
}

#appcenterul {
width: 100%;
float:left;
}

.appcenterli {
float:left;
list-style: none;
margin: 10px;
padding: 10px;
text-align: center;
width: 120px;
height: 120px;
border: 1px solid #999;
background-color: #dfdfdf;
color: #000000;
border-radius: 6px 6px 6px 6px;
}

.gray {background: #f4f4f4;}
.yellow {background: #f1ee97; border-top: 1px solid #990000; border-bottom: 1px solid #990000;}

.process_wrapper {width: 300px; height: 30px;  display:block; text-align: left;}
.process_inner_wrapper {width: 260px; height: 30px; background: linear-gradient(#fefefe, #e1e1e1) repeat scroll 0 0 transparent; display:block; text-align: left; border-radius: 4px; float:left; box-shadow: 0 2px 5px #BBBBBB;}
#show_products_process, #show_category_process {width: 0; height: 30px; background: linear-gradient(#1c9301, #177701) repeat scroll 0 0 transparent; border-radius: 4px;}
#products_precents, #category_precents {padding: 5px 0 0 0; margin-left: 270px; font-weight: 700}
.table_border {border: 1px solid #ccc; width: 100%}
#deleted_image {max-height: 200px;overflow: auto; border: 1px solid #CCC; padding: 5px;}
