{config_load file="lang/$language/lang_$language.conf" section="boxes"}
{if $categories}
<div class="box box_blog">
	{include file="$html_tpl_path/box.html" name=blog class=blog}
	<div class="boxcontent boxcontent_blogs">

		{foreach name=cats item=cat from=$categories}
				{assign var=CATEGORIE_bevor value=$cat.CATEGORIE_ID}
				<div class="blog_titel blog_active"><a href="{$cat.CATEGORIE_LINK}" class="active" title="{$cat.CATEGORIE_TITLE}">{$cat.CATEGORIE_TITLE}</a></div>
				<div class="blog_items">
					{foreach name=items item=data from=$cat.ITEMS}
						{if $data.ITEM_TITLE}
							<a class="blog_link{$data.ITEM_ACTIVE}" href="{$data.ITEM_LINK}" title="{$data.ITEM_TITLE}">{$data.ITEM_TITLE}</a>
						{/if}
					{/foreach}
				</div>
		{/foreach}
	</div>
</div>
{/if}