{config_load file="lang/$language/lang_$language.conf" section="boxes"}
{config_load file="lang/$language/lang_$language.conf" section="index"}
{config_load file="lang/$language/lang_$language.conf" section="account"}
<div class="box box_loginbox">
	{if $LOGGEDIN}
	{include file="$html_tpl_path/box.html" name=loginbox class=loginbox}
	<div class="boxcontent boxcontent_loginbox">
	{$FORM_ACTION}
		{#text_email#}:<br>
		{$FIELD_EMAIL}<br>
		{#text_pwd#}:<br>
		{$FIELD_PWD}<br>
		{$BUTTON}
	{$FORM_END}
	<br>
	<a href="{$LINK_LOST_PASSWORD}" title="{#text_password_forgotten#}">{#text_password_forgotten#}</a>
	{else}
	<h4 class="name_loginbox">{$customer_name}</h4>
	<div class="boxcontent boxcontent_loginbox">
		<ul>
			<li>
				<a href="{$LINK_LOGOFF}" title="{#link_logoff#}">{#link_logoff#}</a>
			</li>
			<li>
				<a href="{$LINK_ACCOUNT}" title="{#link_account#}">{#link_account#}</a>
			</li>
			<li>
				<a href="{$LINK_EDIT}" title="{#text_edit#}">{#text_edit#}</a>
			</li>
			<li>
				<a href="{$LINK_ADDRESS}" title="{#text_address#}">{#text_address#}</a>
			</li>
			<li>
				<a href="{$LINK_PASSWORD}" title="{#text_password#}">{#text_password#}</a>
			</li>
			<li>
				<a href="{$LINK_ORDERS}" title="{#title_orders#}">{#title_orders#}</a>
			</li>
			<li>
				<a href="{$LINK_NEWSLETTER}" title="{#text_newsletter#}">{#text_newsletter#}</a>
			</li>
		</ul>
		<br class="clearfix">
	{/if}
</div>
</div>