{config_load file="lang/$language/lang_$language.conf" section="account_history_info"}
{config_load file="lang/$language/lang_$language.conf" section="print_order"}
{config_load file="lang/$language/lang_$language.conf" section="product_info"}
	
<h1>{#heading_history_info#}</h1>
<div align="left">
	<strong>
		<font size="2" face="Verdana, Arial, Helvetica, sans-serif">{#text_oid#}{$ORDER_NUMBER} 
	    ({$ORDER_STATUS}) 
		{if $IPDFBILL_INVOICE_DOWNLOAD!='' }<br />{#text_pdf_bill_print#}<a href="admin/{$IPDFBILL_INVOICE_DOWNLOAD}"><img src="images/icon_pdf.gif" border="0" width="16" height="16"></a><br />{/if}
		<br />
	  </font>
	 </strong>
	<span>{#text_date#} {$ORDER_DATE}</span>
</div>
<br />
<br />
<div style="width:100%">
	<div style=" float:left; width:49%;border-top: 1px solid; border-color: #333;">
		<strong>{#text_shipping_address#}</strong><br /><br />
		{$DELIVERY_LABEL}
	</div>
	{if $BILLING_LABEL}
	<div style=" float:right; width:49%;border-top: 1px solid; border-color: #333;" align="left">
		<strong>{#text_payment_address#}</strong><br /><br />
		{$BILLING_LABEL}
	</div>
	{else}
	<br style="clear:both" />
	{/if}
	<br style="clear:both" />
</div>
<br />
<br />
<strong>{#text_shipping_method#} </strong><br />{$SHIPPING_METHOD}<br /><br />
{if $PAYMENT_METHOD}
	<strong><br />{#text_payment_method#}</strong><br /> {$PAYMENT_METHOD} <br /><br />
<br />
{/if}

{if $ORDER_COMMENTS!=''} <strong>{#text_comments#}</strong><br /> 
	<div>{$ORDER_COMMENTS}</div><br /><br />
{/if} 

{if $PAYMENT_INFORMATION!=''}
	<strong>{#text_payment_info#}</strong><br />
	<div>
		{$PAYMENT_INFORMATION}
	</div><br /><br />
{/if}

<strong>{#title_history#}</strong>
<div>
	{$HISTORY_BLOCK}<br /><br />
</div>

<strong style="font-size:larger">{#heading_products#}</strong>
<div style="width:100%; border-bottom: 1px solid #ccc; margin-bottom:4px;">
	<div style="float:left; width:11%;" align="center">
		<strong>{#head_units#}</strong>
	</div>
	<div style="float:left; width:22%;">
		<strong>{#head_products#}</strong>
	</div>
	<div style="float:left; width:19.9%;">
		<strong>{#head_artnr#}</strong>
	</div>
	<div style="float:left; width:19.9%;">
		<strong>{#head_single_price#}</strong>
	</div>
	<div style="float:right; width:20%;" align="right">
		<strong>{#head_price#}</strong>
	</div>
	<br style="clear:both" />
</div>
{foreach name=aussen item=order_values from=$order_data} 
<div class="{cycle values="row4,row3"}" style="width:100%;color:#686868; padding: 3px 0; font-size:10px"> 
	<div style="float:left; width:9%;">
		<div align="center">{$order_values.PRODUCTS_QTY}</div>
	</div>
	<div style="float:left; width:2%;">x</div>
	<div style="float:left; width:22%;">
		<strong>{$order_values.PRODUCTS_NAME}</strong><em>{$order_values.PRODUCTS_ATTRIBUTES}</em>
		{if $order_values.PRODUCTS_SHIPPING_TIME neq ''}<br />
		{#text_shippingtime#} {$order_values.PRODUCTS_SHIPPING_TIME}<br />{/if}
	</div>
	<div style="float:left; width:19.9%;" align="center">{$order_values.PRODUCTS_MODEL}
		<em>{$order_values.PRODUCTS_ATTRIBUTES_MODEL}</em>
	</div>
	<div style="float:left; width:19.9%;">
		{$order_values.PRODUCTS_SINGLE_PRICE}
	</div>
	<div style="float:right; width:19.9%;">
		<div align="right"><strong>{$order_values.PRODUCTS_PRICE}</strong></div>
	</div>
	<br style="clear:both" />
 </div>
{/foreach}
<br /><br />
{foreach name=aussen item=order_total_values from=$order_total}
<div style="width:100%;" align="right">
	<div>{$order_total_values.TITLE} {$order_total_values.TEXT}</div>
</div>
{/foreach} 
<br /><br />
{if $downloads_content neq ''}
  {$downloads_content}<br /><br />
{/if}
<div style="width:100%">
	<div style="float:left; width:49%">{$BUTTON_BACK}</div>
	<div style="float:right; width:49%" align="right">{$BUTTON_PRINT}</div>
	<br style="clear:both" /><br />
</div>