{config_load file="lang/$language/lang_$language.conf" section="print_product_info"} 
{$HEADER}
<link href="{$tpl_path}/stylesheet2.css" rel="stylesheet" type="text/css" />
<title>{$PRODUCTS_NAME} / {$PRODUCTS_MODEL}</title>
</head>
<body>
<h2>{$PRODUCTS_NAME}</h2>
<div class="fs85">Artikel Nr: {$PRODUCTS_MODEL}</div><br /><br />
	<div style="width:100%">
		<div style="float:left; width:20%">
			{if $PRODUCTS_IMAGE!=''}
				<img src="{$PRODUCTS_IMAGE}" alt="{$module_data.NAME}" /><br /><br />
			{/if}
			{if $PRODUCTS_IMAGE_1 != ''}		
				<img src="{$PRODUCTS_IMAGE_1}" alt="{$module_data.NAME}" /><br /><br />                         
			{/if}
			{if $PRODUCTS_IMAGE_2 != ''}
				<img src="{$PRODUCTS_IMAGE_2}" alt="{$module_data.NAME}" /><br /><br />                        
			{/if}
			{if $PRODUCTS_IMAGE_3 != ''}
				<img src="{$PRODUCTS_IMAGE_3}" alt="{$module_data.NAME}" />
			{/if}
		</div>
		<div style="float:right; width:79.8%">
			{$PRODUCTS_DESCRIPTION}<br />
			<br />
			{if $module_content !=''}<strong>{#options#}</strong><br />
			{foreach name=aussen item=module_data from=$module_content} 
			{$module_data.GROUP}: {$module_data.NAME}<br />
			{/foreach} <br />
			<br />{/if}
			<strong>{#price#}{$PRODUCTS_PRICE}</strong><br />{$PRODUCTS_TAX_INFO}{$PRODUCTS_SHIPPING_LINK}
			{if $PRODUCTS_VPE}<br />{$PRODUCTS_VPE}{/if} 
			
		</div>
		<br style="clear:both" />
	</div>
</body>
</html>
