{assign var="z" value=0}
	{foreach name=aussen item=module_data from=$module_content} 
		{if $module_data.module!= ''}
			{if $module_data.error !=''}
				{$module_data.error}
			{else}
			{$save_button}
				<div class="{if $module_data.checked}moduleRowSelected{else}moduleRow{/if}" id="prow_{$module_data.value_id}">
					<div class="left mr5">	
						{$module_data.selection}<input type="hidden" name="pmodule" value="{$z}" />
					</div>
					<div class="checkout_payment_list">
						<strong>	
							{if $module_data.module_cost}
								<span class="right">{$module_data.module_cost}</span>
							{/if}
							{$module_data.module}
						</strong><br />
						{if $module_data.description}{$module_data.description}<br /><br />{/if}
						{foreach name=aussen item=method_data from=$module_data.fields}
							<dl>
								<dt class="w40p">{$method_data.title}</dt>
								<dd>{$method_data.field}</dd>
							</dl>
						{/foreach}
					</div>
				</div>
				{assign var="z" value="`$z+1`"}
			{/if}
		{/if}
	{/foreach}			
