{config_load file="lang/$language/lang_$language.conf" section="contact_us"}
{config_load file="lang/$language/lang_$language.conf" section="antispam"}
{if $error_message}
	<div class="headerError">{$error_message}</div>
{/if}
<h1>{$CONTACT_HEADING}</h1>
{if $success!='1'}
	{$FORM_ACTION}
		{$CONTACT_CONTENT}<br />
		<b class="inputRequirement">{#text_must#}</b><br /><br />
		<dl>
			<dt class="w24p"><b class="inputRequirement">*</b> {#text_name#}</dt>
			<dd>{$INPUT_NAME}</dd>
		</dl>
		<dl>
			<dt class="w24p"><b class="inputRequirement">*</b> {#text_email#}</dt>
			<dd>{$INPUT_EMAIL}</dd>
		</dl>
		<dl>
			<dt class="w24p"><b class="inputRequirement">*</b> {#text_message#}</dt>
			<dd>{$INPUT_TEXT}</dd>
		</dl>
		{if $ANTISPAMCODEACTIVE == 'true'}
			<b>{#text_antispam#}</b>
			<dl>
				<dt class="w24p">&nbsp;</dt>
				<dd>{$ANTISPAMCODEQUESTION}</dd>
			</dl>
			<dl>
				<dt class="w24p"><b class="inputRequirement">*</b> {#text_antispam_input#}</dt>
				<dd>{$INPUT_ANTISPAMCODE}</dd>
				<dd>{$ANTISPAMCODEID}</dd>
			</dl>
		{/if}
		
        <br style="clear:both" />
        <div class="red border_radius_6" id="ds">
        	{$DATENSG_checkbox} <strong>{#text_accept_datensg#}</strong>
        </div><br />
        <div class="ar">{$BUTTON_SUBMIT}</div>
<script type="text/javascript">
	{literal}
	jQuery(document).ready(function(){ 
		jQuery('.red input').click(function () {
			jQuery('.red').toggleClass("green");
		});
	});
	{/literal}
</script>
	{$FORM_END}
{else}
	{#text_success#}<br /> <br />
	<div class="ar">{$BUTTON_CONTINUE}</div>
{/if}

