{config_load file="lang/$language/lang_$language.conf" section="error_handler"}
{if $ERROR}
	<div class="headerError">{$ERROR}</div>
{/if}
{#text_search_again#}
<br /><br /><br />
{$FORM_ACTION}
    <span class="left" style="margin-right:10px"><strong>{#text_search#}</strong></span>
    <span class="left">{$INPUT_SEARCH}</span>
	<span>{$BUTTON_SUBMIT}</span>
	<br style="clear:both" />
{$FORM_END}
<br />
{if $keyword_data}
	<br /><b>{#heading_keyword_suggest#}</b><br /><br />

	{foreach name=outer item=options_data from=$keyword_data}
		<span style="margin: 2px;padding: 0px 2px 0px 2px;background-color:{$options_data.SUGGEST_COLOR}">
			<small>({$options_data.SUGGEST_PROXIMITY})</small>
		</span>
		<a href="{$options_data.SUGGEST_LINK}">
			<strong>{$options_data.SUGGEST_KEYWORD}</strong>
		</a>
		<small>({#text_found_products#} {$options_data.SUGGEST_COUNT})</small>
	{/foreach}
	{if $suggest_products}
		<br /><br />
		{$suggest_products}
	{/if}
	{if $PARSE_TIME}{$PARSE_TIME} {/if}
{/if}

