{config_load file="lang/$language/lang_$language.conf" section="login"}
{if $info_message!=''}
	<div align="center">
		<div class="headerError">
			{$info_message|replace:'<font color="#ff0000"><b>ACHTUNG:</b></font>':''}
		</div>
	<br />
	</div>
{/if}

<div id="offline_container">
	<div id="offline_inner" class="white_box">
		<h2 align="center">{$HEADER_OFFLINE}</h2>
		<div align="center">{$CONTENT_OFFLINE}</div>
		{$FORM_ACTION}
			<br />
			{#text_returning#}
			{if $ANTISPAMCODEACTIVE == 'true'}
			<dl>
				<dt class="w24p"><b>{#text_antispam#}</b></dt>
				<dd>{$ANTISPAMCODEQUESTION}</dd>
			</dl>
			<dl>
				<dt class="w24p"><b class="inputRequirement">*</b> {#text_antispam_input#}</dt>
				<dd>{$INPUT_ANTISPAMCODE}</dd>
				<dd>{$ANTISPAMCODEID}</dd>
			</dl>
			{/if}
			<dl>
				<dt class="w150">{#text_email#}</dt>
				<dd>{$INPUT_MAIL}</dd>
			</dl>
			<dl>
				<dt class="w150">{#text_password#}</dt>
				<dd>{$INPUT_PASSWORD}</dd>
			</dl><br /><br />
			<dl>
				<dt class="w150">{$BUTTON_LOGIN}</dt>
				<dd>&nbsp;</dd>
			</dl>           
		{$FORM_END}
	</div>
</div>
