{config_load file="lang/$language/lang_$language.conf" section="index"}
{$MODULE_error}
		<section>
		{if $title}<h1>{$title}</h1>{/if}
		{$text}
		</section>
		<br class="clearfix">
		{if $CATEGORIES_LIST}
			{$CATEGORIES_LIST}
			<br class="clearfix">
		{/if}
		{if $MODULE_upcoming_products}
			{$MODULE_upcoming_products}
			<br class="clearfix">
		{/if}
		{if $MODULE_new_products}
			{$MODULE_new_products}
			<br class="clearfix">
		{/if}
		{if $MODULE_random_products}
			{$MODULE_random_products}
			<br class="clearfix">
		{/if}
		{if $text_footer}
			<section>
			{if $title_footer}<h2>{$title_footer}</h2>{/if}
			{$text_footer}
			</section>
		{/if}



