{config_load file="lang/$language/lang_$language.conf" section="newsletter"}
{if $info_message!=''}
<div class="headerError">
	{$info_message}
</div>
{/if}
{if !$box_activation}
	<h1>{#heading_title#}</h1>
	{$FORM_ACTION}
		<fieldset class="account">
			<legend><strong>{#heading_title#}</strong></legend>
			{if $ANTISPAMCODEACTIVE == 'true'}
				<b>{#text_antispam#}</b>
				<dl>
					<dt class="w200">&nbsp;</dt>
					<dd>{$ANTISPAMCODEQUESTION}</dd>
				</dl>
				<dl>
					<dt class="w200"><b class="inputRequirement">*</b> {#text_antispam_input#}</dt>
					<dd>{$INPUT_ANTISPAMCODE}</dd>
					<dd>{$ANTISPAMCODEID}</dd>
				</dl>
			{/if}
			<dl>
				<dt class="w200">{#text_email#}</dt>
				<dd>{$INPUT_EMAIL}</dd>
			</dl>
			<dl>
				<dt class="w200 ar">{$CHECK_INP}</dt>
				<dd>{#text_in#}</dd>
			</dl>
			<dl>
				<dt class="w200 ar">{$CHECK_DEL}</dt>
				<dd>{#text_out#}</dd>
			</dl>
		</fieldset><br />
		<div align="right">
	        <span class="small">{$BUTTON_SEND}</span>
	    </div>
	{$FORM_END}
{/if}