{config_load file="lang/$language/lang_$language.conf" section="product_related_products_cat"}
{if $PRODUCT_RELATED_CAT}
	<h2>{#heading_text#}</h2>
	<fieldset>
		{foreach item=RELATED_CAT from=$PRODUCT_RELATED_CAT}
			<dl>
				<dt class="w50 ac">
				<a href="{$RELATED_CAT.prdlink}" title="{$RELATED_CAT.pName}">
				{$RELATED_CAT.pImage}
				</a>
				</dt>
				<dd><a href="{$RELATED_CAT.prdlink}" title="{$RELATED_CAT.pName}">{$RELATED_CAT.pName}</a></dd>
			</dl>
		{/foreach}
	</fieldset> 
{/if}
{if $PRODUCT_RELATED_CAT_ALL}
	<h2>{#heading_text_artikel#}</h2>
	<fieldset>
		{foreach item=RELATED_CAT_ALL from=$PRODUCT_RELATED_CAT_ALL}
			<dl>
				<dt class="w50 ac">
				<a href="{$RELATED_CAT_ALL.prdlink}" title="{$RELATED_CAT_ALL.pName}">
				{$RELATED_CAT_ALL.pImage}</a>
				</dt>
				<dd><a href="{$RELATED_CAT_ALL.prdlink}" title="{$RELATED_CAT_ALL.pName}">{$RELATED_CAT_ALL.pName}</a></dd>
			</dl>
		{/foreach}
	</fieldset> 
{/if}

