{config_load file="lang/$language/lang_$language.conf" section="account_password"}
{if $error}
	<div class="headerError">{$error}</div>
{/if}
<h2>{#heading_password#}</h2>
	{$FORM_ACTION}
	<div align="right" class="inputRequirement">{#text_must#}</div><br />
	<div align="center">
		<div class="formArea" style="height:100px; width:400px; text-align:left">
			<div style="float:left">
				<dl>
					<dd>{#text_actual#}</dd>
					<dd>{#text_new#}</dd>
					<dd>{#text_confirm#}</dd>
					<dd></dd>
				</dl>
			</div>
			<div style="float:right">
				<dl>
					<dd class="inputRequirement">{$INPUT_ACTUAL}</dd>
					<dd class="inputRequirement">{$INPUT_NEW}</dd>
					<dd class="inputRequirement">{$INPUT_CONFIRM}</dd>
					<dd></dd>
				</dl>
			</div>
			<br style="clear:both" />
		</div>
	</div>
	<div style="width:100%">
		<div style="float:left; width:49%">{$BUTTON_BACK}</div>
		<div style="float:right; width:49%" align="right">{$BUTTON_SUBMIT}</div>
		<br style="clear:both" />
	</div>
	{$FORM_END}
