{config_load file="lang/$language/lang_$language.conf" section="address_book"}
{if $error!=''}
<div class="headerError">{$error}</div>
{/if}
<h2>{#heading_address#}</h2>
{$FORM_ACTION}
<strong>{#title_standard#}</strong><br /><br />
<div style="width:100%">

<div style="float:left; width:43%;" align="left">
	<div align="left" style="padding:10px; width:210px; background-color: #F2F2F2; border: 1px solid #ccc; color:#686868">
		{$ADDRESS_DEFAULT}<br />
	</div>
</div>
<div style="float:right; width:55%;" align="justify">
	{#text_standard#}
</div>
<br style="clear:both" />
                        </div>
            <br /><br />

    <strong>{#title_addresses#}</strong>
            <br /><br />

            <div>
            {foreach name=aussen item=addresses from=$addresses_data}
            <div>
                        <strong>{$addresses.NAME}</strong>
            {if $addresses.PRIMARY=='1'}<em>({#title_standard#})</em>{/if}<br />
    {$addresses.BUTTON_EDIT} &nbsp; {$addresses.BUTTON_DELETE}
    <br />
                                   {$addresses.ADDRESS}<br /><br />

            </div>{/foreach}
            </div><br />

            <div style="width:100%">
                        <div style="float:left; width:49%">
                                   {$BUTTON_BACK}
                        </div>
                        <div style="float:right; width:49%" align="right">
                                   {$BUTTON_NEW}
                        </div>
                        <br style="clear:both" /><br />
            </div>
            <div>{$ADDRESS_COUNT}</div>
