{config_load file="lang/$language/lang_$language.conf" section="cookie_usage"} 
<h2>{#heading_cookie_usage#}</h2>
<div style="width:100%;">
    <div align="left">
        <div style="float:left">
            {#text_information#}
        </div>
        <div style="float:right; width:250px;">
            <div class="infoboxheading">{#title_infobox#}</div>
            <div>{#text_infobox#}</div>
        </div>
        <div style="clear:left"></div>
    </div>
</div>
<br />
<p align="right">{$BUTTON_CONTINUE}</p>

