{config_load file="lang/$language/lang_$language.conf" section="product_info"}
{if $module_content !=''}
	{$FORM_START}
<div class="product_info_name"><h2>{#product_variant#}</h2></div>
<div class="product_pad">
		{foreach item=module_data from=$module_content}
		<div class="product_img_m">
			{if $module_data.PRODUCTS_IMG !=''}
				{if $module_data.PRODUCTS_LINK}
					<a href="{$module_data.PRODUCTS_LINK}" title="{$module_data.PRODUCTS_NAME}">
				{/if}
				{$module_data.PRODUCTS_IMG}
				{if $module_data.PRODUCTS_LINK}
					</a>
				{/if}
			{else}
			&nbsp;
			{/if}
		</div>
		<div class="product_box_m_desc">
			<div class="product_name_m">
				{if $module_data.PRODUCTS_LINK}
				<h3><a href="{$module_data.PRODUCTS_LINK}" title="{$module_data.PRODUCTS_NAME}">{$module_data.PRODUCTS_NAME}</a></h3>
				{else}
				<h3>{$module_data.PRODUCTS_NAME}</h3>
				{/if}
			</div>
			{if $module_data.PRODUCTS_SHORT_DESC !=''}
				<div class="product_description_m">
					{$module_data.PRODUCTS_SHORT_DESC}
				</div>
			{/if}
		</div>
		<div class="product_box_m_price">
			{if $module_data.PRODUCTS_MODEL}<div>{#model#} {$module_data.PRODUCTS_MODEL}</div>{/if}
			<div>{#verfuegbar#} {$module_data.PRODUCTS_STOCK_IMG}</div>
			{if $module_data.PRODUCTS_WEIGHT !=0}<div>{#weight#} {$module_data.PRODUCTS_WEIGHT}</div>{/if}
			<div class="fs85">{$module_data.PRODUCTS_TAX} {$module_data.PRODUCTS_SHIPPING_LINK}</div>
			<div class="product_info_price">{$module_data.PRODUCTS_PRICE}</div>
			{$module_data.ADD_QTY} {$module_data.SUBMIT_BUTTON} 
			{$module_data.HIDDEN_FIELDS}
		</div>
		<br class="clear" /><br />
		{/foreach}
	</div>

	{literal}
	<script type="text/javascript">
		function checkQTY(id) {
			var qty = $('#qty_'+id).val();
			if(qty == 0) {
				$('#qty_'+id).val('1');
				$('#cart_quantity').submit();
			} else {
				$('#cart_quantity').submit();
			}
		}
	</script>
	{/literal}
	</form>
{/if}