{config_load file="lang/$language/shopbewertung_$language.conf" section="shopbewertung"}
{if $BEWERTUNG == 'ok'}<div class="green">{#bewertungok#}</div><br />{/if}
{if $BEWERTUNG == 'free'}<div class="green">{#bewertungfree#}</div><br />{/if}
<div itemprop="review" itemscope itemtype="http://schema.org/Review">
	<h1 class="votingh1 border_top_radius_6">{#shopbewertung#}</h1>
	<div class="w98p b1 h240">
		<div class="votingbox border_radius_6 b1">
		<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
			<meta itemprop="worstRating" content = "0">
			<img src="{$tpl_path}img/shopwertung/shopvoteimg_{$language}.png" width="120" height="120" alt="Shop Voting" title="Shop Voting" />
			<div class="voting">
				<span itemprop="ratingValue">{$BEWERTUNG_GESAMT_DURCHSCHNITT}</span> /  <span itemprop="bestRating">5.00</span>
			</div>
			<div class="votinboxstarbox border_radius_6 b1">
				<div class="votingstars">{$GESAMT_STERNE}</div>
				<div class="votingtext">{#aus#}<br />{$BEWERTUNG_GESAMT} {if $BEWERTUNG_GESAMT == 1}{#bewertung1#}{else}{#bewertungen#}{/if}</div>
			</div>
		</div>
		</div>
		
		<div class="shopvotebox">
			<span class="votetopic">{#kriterienbewertung#}</span> <span class="fs85">{#unabhaengig#}</span><br />
			<table cellpadding="4">
				<tr>
					<td width="60" ><b>{#ware#}</b></td>
					<td width="130">{$WARE_STERNE}</td>
					<td width="160">{$BEWERTUNG_WARE} | <span class="fs85">({$BEWERTUNG_GESAMT_WARE} Bewertungen)</span></td>
				</tr>
				<tr>
					<td><b>{#versand#}</b></td>
					<td>{$VERSAND_STERNE}</td>
					<td>{$BEWERTUNG_VERSAND} | <span class="fs85">({$BEWERTUNG_GESAMT_VERSAND} Bewertungen)</span></td>
				</tr>               
				<tr>
					<td><b>{#service#}</b></td>
					<td>{$SERVICE_STERNE}</td>
					<td>{$BEWERTUNG_SERVICE} | <span class="fs85">({$BEWERTUNG_GESAMT_SERVICE} Bewertungen)</span></td>
				</tr>        
				<tr>
					<td><b>{#seite#}</b></td>
					<td>{$SEITE_STERNE}</td>
					<td>{$BEWERTUNG_SEITE} | <span class="fs85">({$BEWERTUNG_GESAMT_SEITE} Bewertungen)</span></td>
				</tr>                     
			</table>
		</div>

	</div>  
		
	<br />	
	<div class="viewbox">
		<ul style="margin: 0; padding: 0;">
			<li class="alle">
				<a href="{$LINK_ALLE}" class="{if $AKTIVE_CLASS == 'alle'}bactive{else}bnonactive{/if}">{#alle#} ({$BEWERTUNG_GESAMT})<br />100.00%</a>
			</li>
			<li class="positive">
				<a href="{$LINK_POSITIV}" class="{if $AKTIVE_CLASS == 'positive'}bactive{else}bnonactive{/if}">{#positive#}({$BEWERTUNG_POSITIV})
				<br />{$BEWERTUNG_POSITIV_PROZENTE}%</a>
			</li>
			<li class="neutrale">
				<a href="{$LINK_NEUTRAL}" class="{if $AKTIVE_CLASS == 'neutrale'}bactive{else}bnonactive{/if}">{#neutrale#} ({$BEWERTUNG_NEUTRAL})
				<br />{$BEWERTUNG_NEUTRAL_PROZENTE}%</a>
			</li>
			<li class="negative">
				<a href="{$LINK_NEGATIV}" class="{if $AKTIVE_CLASS == 'negative'}bactive{else}bnonactive{/if}">{#negative#} ({$BEWERTUNG_NEGATIV})
				<br />{$BEWERTUNG_NEGATIV_PROZENTE}%</a>
			</li>        
		</ul>
	 </div>
	<br class="clear" />

	<div class="w98p">
		<div class="votebutton">
			{$OPINION_LINK}
		</div>
		<br class="clear" />
		{foreach name=aussen item=module_data from=$module_content}
		<p class="votehead">{#bewertung#} {$module_data.DATUM}</p>
			<div class="votebox">
				<div class="votestar">
					{$module_data.RATING}<br /><br />
					<b>{#autor#}</b><br /><span itemprop="author">{$module_data.AUTHOR}{if $module_data.AUTHORLST > 0}.{/if}</span>
				</div>
				<div class="votingcontent">
				   <b>{#kommentar#}</b><br />
				  {if $module_data.TEXT}<span itemprop="description">{$module_data.TEXT}</span>{else}<em>{#keinebewertung#}</em>{/if}<br />
					{if $module_data.KOMMENTAR}
						<div class="admincomment">
							<b>{#adminkommentar#}</b>
							<br />
							{$module_data.KOMMENTAR}
						</div>
					{/if}
				</div>
			</div>
		<br class="clear" />
	   {/foreach}
	</div>   
	{$NAVBAR}
</div>